{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}

<div class="container">
    
        <div class="row">
          {% for recette in recettes %}
            <div class="col-md-4">
                <div class="card">                
                  <img class="img-thumbnail" src="{{ asset('/images/' ~ recette.photo) }}" alt="photo {{ recette.titre }}">
                    <h3 class="card-title"><b>{{ recette.titre }}</b></h3> 
                      <a href="{{ path ('recette_show', {id : recette.id})}}" class="btn btn-primary" >Voir la recette</a>
                </div>
            </div>          
          {% endfor %} 
        </div>

    




  </div>
{% endblock %}
