<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        
        {% block stylesheets %}
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
            <link rel="stylesheet" href="styles/normalize.css">
            <link href="{{ asset ('css/main.css') }}" type="text/css" rel="stylesheet" />
        {% endblock %}

        {% block title %}
   
        {% endblock %}
       
    </head>
    <body>

        {% include "include/_navbar.html.twig" %}

        {% block body %}
 
        {% endblock %}


        {% block javascripts %}
        <script src="https://code.jquery.com/jquery.js"></script>
        <script src="js/bootstrap.min.js"></script>
        {% endblock %}

    </body>
    
</html>
