<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

        {% block stylesheets %}
            <link href="{{ asset ('css/main.css') }}" type="text/css" rel="stylesheet" />
        {% endblock %}

       {% block title %}
            <div class="jumbotron">
                <div class="img-fluid" alt="Responsive image" src="/images/cook-o-rama.jpg"></div>
            </div>
       {% endblock %}
       
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}
        <script src="https://code.jquery.com/jquery.js"></script>
        <script src="js/bootstrap.min.js"></script>
        {% endblock %}
    </body>
</html>
